

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.header{
       /* background-image: url(../images/developer.png); */
}

/* nav-title */
.nav-title{
       font-weight: 800;
       font-size: 45px;
}

.dark2{
       color: #474747;
       margin-right: 50px;
}

.text-primary{
       color: #FD6E0A;
}


nav{
       display: flex;
       justify-content: space-between;
       margin: 0px 200px;
       align-items: center;

}
nav ul li {
       list-style: none;
}
nav li a{
       text-decoration: none;
       font-size: 20px;
       color: #474747;
}
nav ul{
       display:flex;
       /* gap: 50px; */
       /* margin-right: 50px; */
       align-items: center;
}
.btn-primary{
       width: 150px;
height: 64px;
background-color:#FD6E0A ;
font-weight: 700;
color:#FFFFFF;
padding: 18PX 35PX;
border-radius: 5px;

font-size: 15px;

}

/* DIV STYLES */
.banner-context{
       width: 585px;
       height: 356px;
       margin-left: 1;
       /* align-items: center; */

}


div h4{
       color: #474747;
       width: 177px;
       height: 61px;
       font-size: 45px;

}
div h1{
       width: 498px;
       height: 116px;
       font-size: 85px;
       font-weight: bold;
       color: #181818;
}
.banner-description{
       width: 585px;
       height: 60px;
       font-size: 18px;
}
.banner{
       justify-content: space-between;
       display: flex;
       margin: auto;
       margin: 0px 50px 0px 220px;
}
.banner-pf-pic{
       width: 584px;
       height: 676px;
       
       
}
.header{
       background-image: url(../images/developer.png), url(../images/header_bg.png);
       background-repeat:no-repeat ;
       background-position: top left, bottom right;
}